@media (max-width: 675px) {
    .container-nav {
      flex-direction: column;
    }
    header {
      text-align: center;
    }
  }


  @media (max-width: 675px) {
    nav ul {
      flex-direction: column;
    }
    nav li {
      margin: 0.5em 0;
    }
  }

/*home page*/
@media (max-width: 600px) {
    .landing-text h1 {
      font-size: 260%;
    }
  }
  @media (max-width: 800px) {
    .btn-hire {
      padding: 8px 16px;
    }
  }

  /*gallery*/
  @media (max-width: 600px) {
    .gallery-header h1 {
      font-size: x-large;
    }
  }

  @media (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  /*booking section*/


  /*Team section*/
  @media (max-width: 600px) {
    .team h1 {
      font-size: x-large;
    }
  }
  @media (max-width: 800px) {
    .team .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .team .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {
    .about-header {
      text-align: center;
    }
  }

  /*Contact*/
  @media (max-width: 800px) {
    .flex-item-left,
    .flex-item-right {
      flex: 100%;
    }
  }